* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: royalblue;
  --radius-size: 4px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: '#F0F0F5';

  width: 100%;
  height: 100vh;
}

.btn {
  height: 30px;
  margin: 20px auto;
  padding: 6px 10px;

  background: var(--primary-color);
  color: white;

  border: 0;
  border-radius: var(--radius-size);
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  background-color: var(--primary-color);
  opacity: .9;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 16px;

  transition: all 300ms ease-in-out;
}

.popup-wrapper {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  justify-content: center;
  align-items: center;

  opacity: 0;
  
  background: rgba(0, 0, 0, .5);  

  pointer-events: none;
  will-change: transform, opacity;

  -webkit-transform: scale(1.15);
  transform: scale(1.15);

  -webkit-transition:
    -webkit-transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946),
    opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);

  transition:
    transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946),
    opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

.show {
  display: flex;
  opacity: 1;

  pointer-events: auto;
}

.popup {
  width: 100%;
  max-width: 400px;
  height: 200px;
  
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: sans-serif;
  text-align: center;

  
  padding: 20px;

  background: white;
  position: relative;

  border-radius: var(--radius-size);

  transition: width 2s;
}

.popup-content h2, p {
  margin-bottom: 25px;
  color: rgba(0, 0, 0, .7);
}

.popup-content p {
  color: rgba(0, 0, 0, .6);
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 15px;

  font-size: 10px;

  cursor: pointer;
}